.wrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  width: 30em;
}

.item {
  margin: 0;
  padding: 0;
  width: 100%;
  border-style: solid;
  border-width: 0px;
}

.head {
  text-align: center;
}