/* You can add global styles to this file, and also import other style files */

@import "../node_modules/milligram/dist/milligram.css";




body {
  margin: 0;
  padding: 0;
  background-color: #F5C1C1;
}

