.TodaysWeather {
  border-style: solid;
  border-width: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2, p {
  border-style: solid;
  border-width: 0px;
}